/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all ease-out;
}

html,
body {
  height: 100%;
  width: 100%;
}
button {
  cursor: pointer;
}

/* Reusables */
.form-container {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Form 1 */
.login-form-1> ::placeholder {
  color: #cacaca;
}

.login-form-1 {
  background-color: #7fba5c;
}

.form-wrapper-1 {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 380px;
  padding: 5rem;
  box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item-1 {
  font-size: 1rem;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  height: 3rem;
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
}

.form-input-1 {
  background-color: #f2f2f2;
}

.form-button-1 {
  background-color: #51b250;
  color: #fff;
  cursor: pointer;
}

.form-button-1:hover {
  background-color: #349332;
}

.form-label-1 {
  color: #575757;
}

.form-link-1 {
  color: #51b250;
  text-decoration: none;
}

/* Login Form 2 */
.login-form-2 {
  background-color: #5bc4fe;
  justify-content: flex-end;
}

.form-wrapper-2 {
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  /* height: 380px; */
  padding: 2rem;
  margin-right: 10%;
  border-radius: 2rem;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.31);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-cosmetic {
  border-radius: 50%;
  background-color: #d8d8d8;
  height: 80px;
  width: 80px;
  position: absolute;
  margin: -2.5rem;
  top: 0;
  box-shadow: 7px 11px 47px -61px rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-cosmetic i {
  font-size: 3rem;
  color: #fff;
}

.form-heading-2 {
  margin: 0.8rem 0;
  font-size: 1.5rem;
  color: #8e8e8e;
}

.form-item-2 {
  font-size: 1rem;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  height: 3rem;
  padding: 10px 15px;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  margin-bottom: 0.8rem;
}

.form-input-2 {
  background-color: #f1f1f1;
  color: #575757;
  padding-left: 2.5rem;
}

.input-w-symbol-2 {
  position: relative;
}

.input-w-symbol-2 i {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #575757;
}

.form-button-2 {
  background-color: #4facec;
  color: #fff;
}

.form-link-2 {
  color: #575757;
  text-decoration: none;
}
.form-button-2:hover {
  background-color: #1d5c87;
}





@media screen and (max-width: 480px) {
  .form-wrapper-1 {
    padding: 2rem;
  }

  .login-form-2 {
    justify-content: center;
  }

  .form-wrapper-2 {
    margin: 0;
    max-width: 350px;
  }


}