/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Login Form 1 */
.login-form-1 {
  height: 100vh;
  width: 100%;
  background-color: #7fba5c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper-1 {
  background-color: #fff;
  width: 500px;
  height: 400px;
  padding: 1rem;
  box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.1);
}